@model SV21T1020547.Web.Models.ShipperSearchResult
@{
    Layout = null;
}

<p style="margin: 10px 0;">
    Có <b>@Model.RowCount</b> người giao hàng trong tổng số <b>@Model.PageCount</b> trang
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="bg-primary">
            <tr>
                <th>Tên người giao hàng</th>
                <th>Điện thoại</th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Data.Count() > 0)
            {
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>@item.ShipperName</td>
                        <td>@item.Phone</td>
                        <td class="text-right">
                            <a href="~/Shipper/Edit/@item.ShipperID" class="btn btn-xs btn-info">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="~/Shipper/Delete/@item.ShipperID" class="btn btn-xs btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="3">Không tìm thấy dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    await Html.RenderPartialAsync("_Pagination");
}