@{
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="card card-primary card-outline">
    <div class="card-body">
        <form action="~/Account/ChangePassword" method="post">
            <div class="form-group">
                <label>Mật khẩu cũ:</label>
                <div class="input-group">
                    <input type="password"
                           class="form-control"
                           name="oldPassword"
                           value="@ViewBag.oldPassword"
                           autofocus />
                    <div class="input-group-append">
                        <button class="btn btn-default toggle-show-password toggle-show-oldPassword" type="button"></button>
                    </div>
                </div>
                @Html.ValidationMessage("oldPassword", new { @style = "color: red;" })
            </div>

            <div class="form-group">
                <label>Mật khẩu mới:</label>
                <div class="input-group">
                    <input type="password"
                           class="form-control"
                           name="newPassword" />
                    <div class="input-group-append">
                        <button class="btn btn-default toggle-show-password toggle-show-newPassword" type="button"></button>
                    </div>
                </div>
                @Html.ValidationMessage("newPassword", new { @style = "color: red;" })
            </div>

            <div class="form-group">
                <label>Xác nhận lại mật khẩu:</label>
                <div class="input-group">
                    <input type="password"
                           class="form-control"
                           name="confirmPassword" />
                    <div class="input-group-append">
                        <button class="btn btn-default toggle-show-password" type="button"></button>
                    </div>
                </div>
                @Html.ValidationMessage("confirmPassword", new { @style = "color: red;" })
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                        <a href="~/" class="btn btn-default">Bỏ qua</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $(".toggle-show-password").click(function () {
                const passwordField = $(this).closest('.input-group').find(".form-control");

                const isText = passwordField.attr("type") === "text";
                passwordField.attr("type", isText ? "password" : "text");
                $(this).toggleClass("show-password", !isText);
            });
        });
    </script>
}